.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-group {
    position: absolute;
    bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'slider-group slider-group slider-group'
    'top-buttons top-buttons top-buttons'
    'bottom-buttons bottom-buttons bottom-buttons';
}

.slider-group {
    grid-area: slider-group;
}

.top-buttons {
    grid-area: top-buttons;
    display: flex;
    gap: 1rem;
}

.bottom-buttons {
    grid-area: bottom-buttons;
    display: flex;
    gap: 1rem;
}

button {
    align-self: flex-end;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.4375em 1em;
    min-width: 2.25em;
    min-height: 2.25em;
    color: #fff;
    width: 6rem;
}

button:hover, button:focus {
    scale: 1.1;
    outline: none;
}

.easy {
    background-color: #4caf50;
}

.medium {
    background-color: #42a5f5;
}

.hard {
    background-color: #ff9800;
}

.advanced {
    background-color: #d32f2f;
}

.phrases {
    background-color: #9c27b0;
}

.reset {
    background-color: #121212;
}
